* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto';
}

ul {
    list-style: none;
}

a:hover {
    color: #ffbf17;
}

.tn-clear {
    clear: both;
    float: none;
}

.tn-topslider-wrap {
    background: linear-gradient(to bottom, #ffffff, #FFBF17);
}

.tn-topslider {
    text-align: center;
}

.tn-topslider-pic {
    max-width: 1920px;
    width: 100%;
}

.tn-topslider-sel-wrap {
    background-color: #FFBF17;
}

.tn-topslider-sel {
    width: 70px;
    margin: 0 auto;
    height: 24px;
    line-height: 20px;
    list-style: disc outside;
    font-size: 36px;
    list-style: disc outside;
}

.tn-topslider-sel-el-active {
    color: #ffffff;
}

.tn-topslider-sel-el + .tn-topslider-sel-el {
    margin-left: 20px;
}

.tn-bg-wrap {
    width: 100%;
}

header {
    position: absolute;
    top: 35px;
    height: 100px;
    color: #ffffff;
}

.tn-contact-phone-num {
    font-weight: bold;
}

.tn-btn-wrap {
    width: 190px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: solid;
    border-width: 4px;
    border-color:#ffffff;
    cursor: pointer;
}

.tn-btn-wrap:hover {
    border-color:#ffbf17;
}

.tn-btn {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.tn-feedback-btn, .tn-news-allnews-btn {
    color: #ffffff;
}

.tn-services-wrap {
    background-color: #388CC8;
    padding-top: 50px;
    padding-bottom: 65px;
}

.tn-servicetype {
    color: #ffffff;
    background-color: #27628C;
    border: 6px solid #27628C;
    float: left;
    width: 358px;
    height: 570px;
}

.tn-servicetype:hover {
    border-color: #ffbf17;
}

.rcm {
    background-image: url(../pics/rcm.png);
}

.it {
    background-image: url(../pics/it.png);
}

.one-c {
    background-image: url(../pics/one-c.png);
}

.tn-servicetype:hover .rcm {
    background-image: url(../pics/rcm-color.png);
}

.tn-servicetype:hover .it {
    background-image: url(../pics/it-color.png);
}

.tn-servicetype:hover .one-c {
    background-image: url(../pics/one-c-color.png);
}

.tn-cnt-wrap {
    width: 1170px;
    margin: 0 auto;
}

.tn-menu-el-href {
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.tn-menu-el-href-active {
    cursor: default;
    font-weight: 400;
}

.tn-language {
    float: left;
    font-size: 24px;
    font-weight: 300;
}

.tn-language + .tn-language {
    margin-left: 10px;
}

.tn-language-active {
    font-weight: bold;
    cursor: default;
}

.tn-logo-wrap {
    float: left;
}

.tn-menu-el {
    padding-top: 35px;
    float: left;
}

.tn-header-contacts {
    float: left;
    padding-top: 35px;
}

.tn-contact-phone-part {
    font-size: 24px;
    font-weight: 300;
}

.tn-contact-phone-part-bold {
    font-weight: 500;
}

.tn-contact-phone-part + .tn-contact-phone-part {
    margin-left: 5px;
}

.tn-languages-sel {
    padding-top: 35px;
}

.tn-about-title-wrap, .tn-collective-title-wrap, .tn-news-title-wrap, .tn-partners-title-wrap, .tn-clients-title-wrap {
    text-align: center;
}

.tn-about-wrap {
    margin-top: 40px;
}

.tn-about-text {
    font-weight: 300;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
    column-count: 2;
    column-gap: 120px;
    padding-right: 70px;
}

.tn-servicetype-title-wrap {
    text-align: center;
}

.tn-servicetype + .tn-servicetype {
    margin-left: 25px;
}

.tn-servicetype-logo-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.tn-servicetype-logo-pic{
    margin: 0 auto;
    height: 110px;
    width: 110px;
    background-position: center;
    background-repeat: no-repeat;
}

.tn-servicetype-more-wrap {
    text-align: center;
}

.tn-logo-wrap {
    margin-right: 75px;
}

.tn-menu-el + .tn-menu-el {
    margin-left: 30px;
}

.tn-header-contacts {
    margin-left: 40px;
    margin-right: 45px;
}

.tn-contact-phone {
    padding-left: 10px;
    padding-bottom: 15px;
}

.tn-language-href {
    text-decoration: none;
    color: #ffffff;
}

.tn-servicetype-more-href {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

.tn-servicetype-services {
    width: 300px;
    height: 250px;
    margin: 30px auto 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;
    list-style-image: url(../pics/marker.png);
    list-style-position: outside;

}

.tn-servicetype-services-el {
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
}

.tn-partners-title-wrap, .tn-clients-title-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tn-clients-wrap {
    margin-bottom: 40px;
}

.tn-partners, .tn-clients {
    height: 200px;
    margin: 0 auto;
    border-left: 4px solid #ffbf17;
    border-right: 4px solid #ffbf17;
}

.tn-partners-el, .tn-clients-el {
    float: left;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.tn-partners-el + .tn-partners-el, .tn-clients-el + .tn-clients-el {
    margin-left: 40px;
}

.hc {
    background-image: url(../pics/hc.png);
}

.bstu {
    background-image: url(../pics/bstu.png);
}

.bgu {
    background-image: url(../pics/bgu.png);
}

.mondi {
    background-image: url(../pics/mondi.png);
}

.ibm {
    background-image: url(../pics/ibm.png);
}

.rgd {
    background-image: url(../pics/rgd.png);
}

.sng {
    background-image: url(../pics/sng.png);
}

.ural {
    background-image: url(../pics/ural.png);
}

.sber {
    background-image: url(../pics/sber.png);
}

.eagle {
    background-image: url(../pics/eagle.png);
}

.hc:hover {
    background-image: url(../pics/hc-color.png);
}

.bstu:hover {
    background-image: url(../pics/bstu-color.png);
}

.bgu:hover {
    background-image: url(../pics/bgu-color.png);
}

.mondi:hover {
    background-image: url(../pics/mondi-color.png);
}

.ibm:hover {
    background-image: url(../pics/ibm-color.png);
}

.rgd:hover {
    background-image: url(../pics/rgd-color.png);
}

.sng:hover {
    background-image: url(../pics/sng-color.png);
}

.ural:hover {
    background-image: url(../pics/ural-color.png);
}

.sber:hover {
    background-image: url(../pics/sber-color.png);
}

.eagle:hover {
    background-image: url(../pics/eagle-color.png);
}

.tn-news-wrap {
    background-image: url(../pics/news.png);
    background-size: 100%;
    padding-bottom: 20px;
}

.tn-news-el {
    width: 370px;
    float: left;
    background-color: rgba(200, 205, 224, 0.75);
}

.tn-news-el + .tn-news-el {
    margin-left: 25px;
}

.tn-news-el-href {
    font-size: 24px;
    text-decoration: none;
    color: #0E2980;
    font-weight: 500;
}

.tn-news-el-date {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 15px 0;
    background-color: #388CC8;
    color: #ffffff;
}

.tn-collective-wrap {    background-color: #388CC8;
    background: linear-gradient(to bottom, #388CC8, #6472a8);
    height: 775px;
    text-align: center;
}

.tn-collective-background-photo-wrap {
    z-index: 1;
}

.tn-collective-background-photo-pic {
    height: 775px;
    width: 100%;
    max-width: 1920px;
}

.tn-collective-photo-wrap {
    position: relative;
    top: -836px;
    z-index: 2;
}

.tn-collective-photo-pic {
    height: 775px;
}

.tn-collective-title-wrap {
    color: #ffffff;
    position: relative;
    top: -715px;
    z-index: 3;
}

.tn-collective-vac-btn-wrap {
    position: relative;
    bottom: 100px;
    margin: 0 auto;
    z-index: 3;
    top: -910px;
    border-color: #3877C7;;
}

.tn-collective-vac-btn {
    color: #3877C7;
}

.tn-section-header {
    font-weight: 700;
    font-size: 47px;
}

.tn-subsection-header {
    font-weight: 700;
    font-size: 30px;
}

.tn-news-title-wrap {
    padding-top: 40px;
    padding-bottom: 30px;
    color: #ffffff;
}

.tn-news-el-href-wrap {
    margin: 40px 35px;
    height: 100px;
}
.tn-news-el-text {
    margin-left: 35px;
    margin-bottom: 40px;
    height: 155px;
    font-size: 18px;
    font-weight: 300;
}

.tn-news-allnews-btn-wrap {
    margin: 20px auto 0;
}

.tn-science-wrap {
    text-align: center;
    margin-top: 25px;
    border: solid #ffffff 6px;
    color: #ffffff;
    cursor: pointer;
}

.tn-science-wrap:hover {
    border-color: #FFBF17;
}

.tn-science-logo-header-wrap {
    margin: 20px auto;
    width: 750px;
    height: 78px;
}

.tn-science-title-wrap {
    line-height: 78px;
}

.tn-science-logo-wrap {
    float: left;
}

.tn-science-activities {
    margin: 0 auto;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 1070px;
    border-bottom: solid 1px #ffffff;
    list-style-image: url(../pics/marker.png);
    list-style-position: outside;
}

.tn-science-activities-el {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 300;
    width: 270px;
    float: left;
    text-align: left;
}

.tn-science-activities-el + .tn-science-activities-el {
    margin-left: 100px;
}

.tn-university-partnership-wrap {
    height: 74px;
    width: 730px;
    margin: 20px auto 20px;
}

.tn-university-partnership-title {
    float: left;
    line-height: 74px;
    font-size: 18px;
    font-weight: 300;
}

.tn-university-logo-wrap {
    margin-left: 60px;
    float: left;
}

footer {
    line-height: 50px;
    height: 100px;
    background-color: #102A81;
}

.tn-copyright-address-wrap {
    font-size: 18px;
    font-weight: 100;
    color: #ffffff;
    float: left;
    margin-right: 100px;
}

.tn-footer-contacts {
    color: #ffffff;
}

.tn-contact-phone-footer {
    float: left;
    margin-right: 15px;
}

.tn-feedback-btn-wrap-footer {
    float: left;
}

.tn-cnt-footer-wrap {
    padding-top: 25px;
}