* {
    margin: 0;
    padding: 0;
    border: none;
}

ul {
    list-style: none;
}

.tn-clear {
    clear: both;
    float: none;
}

.tn-topslider-wrap {
    background-color: #9AC1EA;
}

.tn-topslider-sel {
    background-color: #FFBF17;
}

.tn-bg-wrap {
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    height: 100px;
    color: #ffffff;
}

.tn-menu-el-href-active {
    cursor: none;
    font-weight: bold;
}

.tn-contact-phone-num {
    font-weight: bold;
}

.tn-btn-wrap {
    width: 190px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: solid;
    border-width: 3px;
}

.tn-btn {
    font-weight: bold;
    text-decoration: none;
}

.tn-feedback-btn, .tn-news-allnews-btn {
    color: #ffffff;
}

.tn-collective-vac-btn {
    color: #3877C7;
    border-color: #3877C7;
}

.tn-services-wrap {
    background-color: #388CC8;
}

.tn-servicetype {
    color: #ffffff;
    background-color: #27628C;
}

.tn-science-wrap {
    color: #ffffff;
    background-color: #27628C;
}

.tn-cnt-wrap {
    width: 1170px;
    margin: 0 auto;
}

.tn-collective-photo {
    height: 630px;
    width: 100%;
}

.tn-topslider-pic {
    width: 100%;
}

.tn-menu-el-href {
    text-decoration: none;
    color: #ffffff;
}

.tn-logo-wrap {
    float: left;
}

.tn-menu-el {
    padding-top: 35px;
    float: left;
}

.tn-header-contacts {
    float: left;
    padding-top: 35px;
}

.tn-contact-phone-part + .tn-contact-phone-part {
    margin-left: 5px;
}

.tn-languages-sel {
    padding-top: 35px;
}

.tn-about-title-wrap, .tn-collective-title-wrap, .tn-news-title-wrap, .tn-partners-title-wrap, .tn-clients-title-wrap {
    text-align: center;
}

.tn-about-wrap {
    margin-top: 60px;
}

.tn-about-text {
    margin-top: 60px;
    text-align: justify;
    column-count: 2;
    column-gap: 120px;
    padding-right: 70px;
}

.tn-servicetype-title-wrap {
    text-align: center;
}

.tn-servicetype {
    float: left;
    width: 370px;
    height: 560px;
}

.tn-servicetype + .tn-servicetype {
    margin-left: 25px;
}

.tn-servicetype-logo-wrap {
    text-align: center;
}

.tn-servicetype-more-wrap {
    text-align: center;
}

.tn-logo-wrap {
    margin-right: 75px;
}



.tn-menu-el + .tn-menu-el {
    margin-left: 30px;
}

.tn-header-contacts {
    margin-left: 50px;
    margin-right: 45px;
}

.tn-contact-phone {
    padding-left: 10px;
    padding-bottom: 15px;
}

.tn-language-href {
    text-decoration: none;
    color: #ffffff;
}

.tn-servicetype-more-href {
    text-decoration: none;
    color: #ffffff;
}

.tn-servicetype-services {
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
}

.tn-servicetype-services-el:before {
    content: "- ";
}

.tn-partners, .tn-clients {
    height: 200px;
    margin: 0 auto;
}

.tn-partners-el, .tn-clients-el {
    float: left;
}

.tn-contact-phone {
    float: left;
}

footer {
    background-color: #102A81;
}

.tn-news-wrap {
    background-image: url(../pics/news.png);
}

.tn-news-el {
    width: 370px;
    float: left;
    background-color: rgba(200, 205, 224, 0.5);
    background-color: #C8CDE0;
}

.tn-news-el + .tn-news-el {
    margin-left: 25px;
}

.tn-news-el-href {
    text-decoration: none;
    color: #0E2980;
}

.tn-news-el-date {
    text-align: center;
    padding: 15px 0;
    background-color: #388CC8;
    color: #ffffff;
}

.tn-collective-title-wrap {
    position: relative;
    top: 90px;
}

.tn-collective-vac-btn-wrap {
    position: relative;
    bottom: 100px;
    margin: 0 auto;
}

.tn-section-header , .tn-subsection-header {
    font-weight: bold;
}
.tn-news-el-href {
    font-weight: bold;
}

.tn-news-el-href-wrap {
    margin: 40px 35px;
    height: 100px;
}
.tn-news-el-text {
    margin-left: 35px;
    margin-bottom: 40px;
    height: 155px;
}

.tn-science-wrap {
    border: solid #ffffff 6px;
}

.tn-science-logo-header-wrap {
    margin: 0 auto;
    height: 67px;
}

.tn-science-title-wrap {
    line-height: 67px;
}

.tn-science-logo-wrap {
    float: left;
}

.tn-science-activities-el {
    float: left;
}

.tn-science-activities-el:before {
    content: "- ";
}

.tn-university-partnership-wrap {
    height: 74px;
}

.tn-university-partnership-title {
    float: left;
    line-height: 74px;
}

.tn-university-logo-wrap {
    float: left;
}